
//----GIRLY COLORS-----//
$soft-apricot: #f6d5ce;
$cotton-candy: #ff94cc;
$blush-rose: #c02d8d;
$berry-crush: #790064;
$night-bordeaux: #730a45;
$pink-dark:#cd2f70;

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}


$font-glitch: "Audiowide", system-ui;




